* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-align: left;
	font-family: times, serif;
	font-size: 1.5rem;
	margin-left: 1rem;
}

h2 {
	font-size: 1.2rem;
	color: navy;
	text-align: left;
	margin: 1rem;
}

nav {
	margin: 1rem auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

.open a {
	display: block;
}

.active::before { 
	content: "📍"; 
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
main .figure-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}
figure{
    margin: 5px;
}
    /* grid-template-columns: repeat(auto-fit, minmax(150px,1fr)); */
    /* grid-column: 1/4; */
h2{
    text-align: center;
}
#Home{
    justify-content: center;
    text-align: center;
}
footer {
    background-color: rgb(44, 88, 124);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
    color: #eee;
}
.lastmodified{
    color: yellow;
}
@media only screen and (min-width:400px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-content: center;
    }

	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; 
	}

	.navigation {
        display: flex;
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}


    .navigation li{
        display: block;
        flex: 1 1 auto;
    }
}