* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
    color: #fff;
}
nav {
	margin: 1rem auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    appearance: none;
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	/* background-color: #333; */
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
    text-decoration: underline;
	color: #fff;
	font-weight: 700;
}

.open a {
	display: block;
}

.hero img {
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}
    /* grid-template-columns: repeat(auto-fit, minmax(150px,1fr)); */
    /* grid-column: 1/4; */

footer {
    background-color: rgb(44, 88, 124);
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
    color: #eee;
}

@media only screen and (min-width:400px) {

	.navigation {
        display: flex;
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}


    .navigation li{
        display: block;
        flex: 1 1 auto;
    }
    h1{
        text-align: center;
    }
    #menu {
        display: none;
    }
        
}